.homePage {
  background: #ccc;
  height: 100vh;
  width: 100vw;
  margin: 10px;
}

.homeBackground {
  background-image: url('./images/backgroundImages/changing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: .5;
}

.header {
  width: 100vw;
  background: #AFE7E3;
  color: black;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  height: 20vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: -.75vw;
}

.header-logo {
  width: 100vw;
}

.welcome {
  width: 100vw;
  height: 10vh;
  background: #959C9C;
  margin-top: 1.5vh;
  margin-bottom: .5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -.75vw;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.titles {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 15px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
  margin-left: 10vh;
}

img {
  height: 20%;
  width: 22%;
  cursor: pointer;
}

.distance {
  height: 39vh;
}

.cooking {
  height: 39vh;
}

.pictureContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 96px;
}

.input {
  width: 96px;
}

.cookBack {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cookBackground {
  background-image: url('./images/backgroundImages/measuringSpoons.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  top: -50px;
  bottom: 0;
  left: 0;
  opacity: .5;
}

.return {

}

.scienceBack {
  display: flex;
  justify-content: space-around;
}

.scienceBackground {
  background-image: url('./images/backgroundImages/scale.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  top: -50px;
  bottom: 0;
  left: 0;
  opacity: .5;
}

.distanceBack {
  display: flex;
  justify-content: space-around;
}

.distanceBackground {
  background-image: url('./images/backgroundImages/distance.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  top: -250px;
  bottom: 0;
  left: 0;
  opacity: .5;
}

.currencyBack {
  display: flex;
  justify-content: space-around;
}

.currencyBackground {
  background-image: url('./images/backgroundImages/currency.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  top: -30px;
  bottom: 0;
  left: 0;
  opacity: .5;
}
