<!-- Cooking -->
<div ng-hide='cookingHidden' >

  <div class="unitFrom">
      <p class='first'> Unit From </p>
      <p> Unit To </p>
  </div>

<div class='cookBack'>

  <div class="cookBackground"></div>

  <input ng-model="num" type="text" placeholder="Number" class="input"/>

  <div>
            <select ng-model="typeFrom" class='dropDown'>
              <option value="teaspoon"> Teaspoon </option>
              <option value="tablespoon"> Tablespoon </option>
              <option value="cup"> Cup </option>
              <option value="fluid ounce"> Fluid Ounce </option>
              <option value="pint"> Pint </option>
              <option value="quart"> Quart </option>
              <option value="gallon"> Gallon </option>
            </select>
  </div>

  <div ng-hide='cookingHidden'>
            <select ng-model="typeTo" class='dropDown'>
              <option value="teaspoon"> Teaspoon </option>
              <option value="tablespoon"> Tablespoon </option>
              <option value="cup"> Cup </option>
              <option value="fluid ounce"> Fluid Ounce </option>
              <option value="pint"> Pint </option>
              <option value="quart"> Quart </option>
              <option value="gallon"> Gallon </option>
            </select>
  </div>
  <div>
    <button ng-click="submitted(num, typeFrom, typeTo)" type="button" name="button" class="button">Submit</button>
  </div>
</div>
  <section class="returnContainer">
    <div class="return">
      <p> {{num}} {{typeFrom}}s is equal to
      <p class='typeTo'> {{returnValue}} {{typeTo}}s </p>
    </div>
  </section>
</div>

<!-- Currency -->

<div ng-hide='currencyHidden'>

  <div class="unitFrom">
      <p class='first'> Unit From </p>
      <p> Unit To </p>
  </div>

<div class='currencyBack'>

  <div class="currencyBackground"></div>

  <input ng-model="num" type="text" placeholder="Number" class="input"/>

  <div>
            <select ng-model="typeFrom" class='dropDown'>
              <option value="penny"> Penny </option>
              <option value="nickel"> Nickel </option>
              <option value="dime"> Dime </option>
              <option value="quarter"> Quarter </option>
              <option value="halfDollar"> Half Dollar </option>
              <option value="dollar"> Dollar </option>
            </select>
  </div>

  <div ng-hide='currencyHidden'>
            <select ng-model="typeTo" class='dropDown'>
              <option value="penny"> Penny </option>
              <option value="nickel"> Nickel </option>
              <option value="dime"> Dime </option>
              <option value="quarter"> Quarter </option>
              <option value="halfDollar"> Half Dollar </option>
              <option value="dollar"> Dollar </option>
            </select>
  </div>
  <div>
    <button ng-click="submitted(num, typeFrom, typeTo)" type="button" name="button" class="button">Submit</button>
  </div>
</div>
<section class="returnContainer">
  <div class="return">
    <p> {{num}} {{typeFrom}}s is equal to
    <p class='typeTo'> {{returnValue}} {{typeTo}}s </p>
  </div>
</section>
</div>

<!-- Science -->

<div ng-hide="scienceHidden" >

  <div class="unitFrom">
      <p class='first'> Unit From </p>
      <p> Unit To </p>
  </div>

<div class='scienceBack'>

  <div class="scienceBackground"></div>

  <input ng-model="num" type="text" placeholder="Number" class="input"/>

  <div>
            <select ng-model="typeFrom" class='dropDown'>
              <option value="ounce"> Ounce </option>
              <option value="pound"> Pound </option>
              <option value="stone"> Stone </option>
              <option value="gram"> Gram </option>
              <option value="kilogram"> Kilogram </option>
            </select>
  </div>

  <div ng-hide="scienceHidden">
            <select ng-model="typeTo" class='dropDown'>
              <option value="ounce"> Ounce </option>
              <option value="pound"> Pound </option>
              <option value="stone"> Stone </option>
              <option value="gram"> Gram </option>
              <option value="kilogram"> Kilogram </option>
            </select>
  </div>
  <div>
    <button ng-click="submitted(num, typeFrom, typeTo)" type="button" name="button" class="button">Submit</button>
  </div>
</div>
<section class="returnContainer">
  <div class="return">
    <p> {{num}} {{typeFrom}}s is equal to
    <p class='typeTo'> {{returnValue}} {{typeTo}}s </p>
  </div>
</section>
</div>

<!-- Distance -->

<div ng-hide="distanceHidden" >

  <div class="unitFrom">
      <p class='first'> Unit From </p>
      <p> Unit To </p>
  </div>

<div class="distanceBack">

  <div class="distanceBackground"></div>

  <input ng-model="num" type="text" placeholder="Number" class="input"/>

  <div>
            <select ng-model="typeFrom" class='dropDown'>
              <option value="inch"> Inch </option>
              <option value="feet"> Foot </option>
              <option value="yard"> Yard </option>
              <option value="mile"> Mile </option>
              <option value="millimeter"> Millimeter </option>
              <option value="centimeter"> Centimeter </option>
              <option value="meter"> Meter </option>
              <option value="kilometer"> Kilometer </option>
            </select>
 </div>

  <div ng-hide="distanceHidden">
            <select ng-model="typeTo" class='dropDown'>
              <option value="inch"> Inch </option>
              <option value="feet"> Foot </option>
              <option value="yard"> Yard </option>
              <option value="mile"> Mile </option>
              <option value="millimeter"> Millimeter </option>
              <option value="centimeter"> Centimeter </option>
              <option value="meter"> Meter </option>
              <option value="kilometer"> Kilometer </option>
            </select>
  </div>
  <div>
    <button ng-click="submitted(num, typeFrom, typeTo)" type="button" name="button" class="button">Submit</button>
  </div>
</div>
<section class="returnContainer">
  <div class="return">
    <p> {{num}} {{typeFrom}}s is equal to
    <p class='typeTo'> {{returnValue}} {{typeTo}}s </p>
  </div>
</section>
</div>
